In [1]:
import matplotlib.pylab as plt

ModuleNotFoundError: No module named 'matplotlib.pylab'; 'matplotlib' is not a package

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
plt.style.use('ggplot')
# pd.set_option('max_columns', 200)

ModuleNotFoundError: No module named 'matplotlib.colors'; 'matplotlib' is not a package

In [5]:
df = pd.read_csv(r'c:\Users\Edgar\OneDrive\Documents\coaster_db.csv')

In [6]:
df.shape

(1087, 56)

In [13]:
df.head()

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,...,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [14]:
df.columns

Index(['coaster_name', 'Length', 'Speed', 'Location', 'Status', 'Opening date',
       'Type', 'Manufacturer', 'Height restriction', 'Model', 'Height',
       'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       'Track layout', 'Fastrack available', 'Soft opening date.1',
       'Closing date', 'Opened', 'Replaced by', 'Website',
       'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       'Single rider line available', 'Restraint Style',
       'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 'height_value', 'height_unit', 'height_ft',
       'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [15]:
df.dtypes

coaster_name                      object
Length                            object
Speed                             object
Location                          object
Status                            object
Opening date                      object
Type                              object
Manufacturer                      object
Height restriction                object
Model                             object
Height                            object
Inversions                       float64
Lift/launch system                object
Cost                              object
Trains                            object
Park section                      object
Duration                          object
Capacity                          object
G-force                           object
Designer                          object
Max vertical angle                object
Drop                              object
Soft opening date                 object
Fast Lane available               object
Replaced                          object
Track layout                      object
Fastrack available                object
Soft opening date.1               object
Closing date                      object
Opened                            object
Replaced by                       object
Website                           object
Flash Pass Available              object
Must transfer from wheelchair     object
Theme                             object
Single rider line available       object
Restraint Style                   object
Flash Pass available              object
Acceleration                      object
Restraints                        object
Name                              object
year_introduced                    int64
latitude                         float64
longitude                        float64
Type_Main                         object
opening_date_clean                object
speed1                            object
speed2                            object
speed1_value                     float64
speed1_unit                       object
speed_mph                        float64
height_value                     float64
height_unit                       object
height_ft                        float64
Inversions_clean                   int64
Gforce_clean                     float64
dtype: object

In [16]:
df.describe()

,Inversions,year_introduced,latitude,longitude,speed1_value,speed_mph,height_value,height_ft,Inversions_clean,Gforce_clean
count,932.000000,1087.000000,812.000000,812.000000,937.000000,937.000000,965.000000,171.000000,1087.000000,362.000000
mean,1.547210,1994.986201,38.373484,-41.595373,53.850374,48.617289,89.575171,101.996491,1.326587,3.824006
std,2.114073,23.475248,15.516596,72.285227,23.385518,16.678031,136.246444,67.329092,2.030854,0.989998
min,0.000000,1884.000000,-48.261700,-123.035700,5.000000,5.000000,4.000000,13.100000,0.000000,0.800000
25%,0.000000,1989.000000,35.031050,-84.552200,40.000000,37.300000,44.000000,51.800000,0.000000,3.400000
50%,0.000000,2000.000000,40.289800,-76.653600,50.000000,49.700000,79.000000,91.200000,0.000000,4.000000
75%,3.000000,2010.000000,44.799600,2.778100,63.000000,58.000000,113.000000,131.200000,2.000000,4.500000
max,14.000000,2022.000000,63.230900,153.426500,240.000000,149.100000,3937.000000,377.300000,14.000000,12.000000

In [ ]:
# example of dropping columns
#df.drop(['opening date'], axis=1)

Data preparation

In [18]:
df.head()

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,...,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [22]:
# subset columns you want to keep
df[['coaster_name', 
     #'Length', 'Speed', 
      'Location', 'Status',
        #'Opening date',
      # 'Type', 
      'Manufacturer', 
      #'Height restriction', 'Model', 'Height',
       #'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       #'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       #'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       #'Track layout', 'Fastrack available', 'Soft opening date.1',
       #'Closing date', 'Opened', 'Replaced by', 'Website',
       #'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       #'Single rider line available', 'Restraint Style',
      # 'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 
       'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 
       #'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 
       #'height_value', 'height_unit', 
        'height_ft',
       'Inversions_clean', 'Gforce_clean']].copy()

,coaster_name,Location,Status,Manufacturer,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,Coney Island,Removed,LaMarcus Adna Thompson,1884,40.5740,-73.9780,Wood,1884-06-16,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,Lina Beecher,1895,40.5780,-73.9790,Wood,1895-01-01,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),"Cleveland, Ohio, United States",Closed,NaN,1896,41.5800,-81.5700,Other,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),Other,Removed,Edwin Prescott,1901,40.5745,-73.9780,Steel,1901-01-01,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),Other,Removed,Edwin Prescott,1901,39.3538,-74.4342,Steel,1901-01-01,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082,American Dreier Looping,Other,NaN,Anton Schwarzkopf,2022,NaN,NaN,Steel,NaN,53.0,NaN,3,4.7
1083,Pantheon (roller coaster),Busch Gardens Williamsburg,Under construction,Intamin,2022,37.2339,-76.6426,Steel,2022-01-01,73.0,NaN,2,NaN
1084,Tron Lightcycle Power Run,Other,NaN,Vekoma,2022,NaN,NaN,Steel,2016-06-16,59.3,NaN,0,4.0
1085,Tumbili,Kings Dominion,Under construction,S&S – Sansei Technologies,2022,NaN,NaN,Steel,NaN,34.0,NaN,0,NaN
1086,Wonder Woman Flight of Courage,Six Flags Magic Mountain,Under construction,Rocky Mountain Construction,2022,NaN,NaN,Steel,2022-01-01,58.0,NaN,3,NaN

In [23]:
df.shape

(1087, 56)

In [24]:
df.dtypes

coaster_name                      object
Length                            object
Speed                             object
Location                          object
Status                            object
Opening date                      object
Type                              object
Manufacturer                      object
Height restriction                object
Model                             object
Height                            object
Inversions                       float64
Lift/launch system                object
Cost                              object
Trains                            object
Park section                      object
Duration                          object
Capacity                          object
G-force                           object
Designer                          object
Max vertical angle                object
Drop                              object
Soft opening date                 object
Fast Lane available               object
Replaced                          object
Track layout                      object
Fastrack available                object
Soft opening date.1               object
Closing date                      object
Opened                            object
Replaced by                       object
Website                           object
Flash Pass Available              object
Must transfer from wheelchair     object
Theme                             object
Single rider line available       object
Restraint Style                   object
Flash Pass available              object
Acceleration                      object
Restraints                        object
Name                              object
year_introduced                    int64
latitude                         float64
longitude                        float64
Type_Main                         object
opening_date_clean                object
speed1                            object
speed2                            object
speed1_value                     float64
speed1_unit                       object
speed_mph                        float64
height_value                     float64
height_unit                       object
height_ft                        float64
Inversions_clean                   int64
Gforce_clean                     float64
dtype: object

In [25]:
# changing the opening date from an object to a datetime
pd.to_datetime(df['opening_date_clean'])

0      1884-06-16
1      1895-01-01
2             NaT
3      1901-01-01
4      1901-01-01
          ...
1082          NaT
1083   2022-01-01
1084   2016-06-16
1085          NaT
1086   2022-01-01
Name: opening_date_clean, Length: 1087, dtype: datetime64[ns]

In [ ]:
# to change into a numeric column
pd.to_numeric(df['year_introduced'])

In [62]:
#Rename columns
df.rename(columns={'coaster_name':'Coaster_Name',
                   'year_introduced': 'Year_Introduced',
                   'opening_date_clean': 'Opening_Date',
                   'speed_mph': 'Speed_mph',
                   'height_ft': 'Height_Ft',
                   'Inversions_clean': 'Inversions',
                   'Gforce_clean': 'Gforce'})

,Coaster_Name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,Speed_mph,height_value,height_unit,Height_Ft,Inversions,Gforce
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,...,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082,American Dreier Looping,"3,444 ft (1,050 m)",53 mph (85 km/h),Other,NaN,NaN,Steel,Anton Schwarzkopf,55 in (140 cm),NaN,...,53 mph,85 km/h,53.0,mph,53.0,111.0,ft,NaN,3,4.7
1083,Pantheon (roller coaster),"3,328 ft (1,014 m)",73 mph (117 km/h),Busch Gardens Williamsburg,Under construction,2022,Steel – Launched,Intamin,NaN,Blitz Coaster,...,73 mph,117 km/h,73.0,mph,73.0,178.0,ft,NaN,2,NaN
1084,Tron Lightcycle Power Run,"3,169.3 ft (966.0 m)",59.3[1] mph (95.4 km/h),Other,NaN,"June 16, 2016",Steel – Launched,Vekoma,4[2] ft (122 cm),Motorbike roller coaster,...,59.3 mph,95.4 km/h,59.3,mph,59.3,78.1,ft,NaN,0,4.0
1085,Tumbili,770 ft (230 m),34 mph (55 km/h),Kings Dominion,Under construction,NaN,Steel – 4th Dimension – Wing Coaster,S&S – Sansei Technologies,NaN,4D Free Spin,...,34 mph,55 km/h,34.0,mph,34.0,112.0,ft,NaN,0,NaN
1086,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",58 mph (93 km/h),Six Flags Magic Mountain,Under construction,2022,Steel – Single-rail,Rocky Mountain Construction,NaN,Raptor – Custom,...,58 mph,93 km/h,58.0,mph,58.0,131.0,ft,NaN,3,NaN

In [27]:
#Finding null values
df.isna().sum()

coaster_name                        0
Length                            134
Speed                             150
Location                            0
Status                            213
Opening date                      250
Type                                0
Manufacturer                       59
Height restriction                256
Model                             343
Height                            122
Inversions                        155
Lift/launch system                292
Cost                              705
Trains                            369
Park section                      600
Duration                          322
Capacity                          512
G-force                           725
Designer                          509
Max vertical angle                730
Drop                              593
Soft opening date                 991
Fast Lane available              1018
Replaced                          914
Track layout                      752
Fastrack available               1068
Soft opening date.1               991
Closing date                      851
Opened                           1060
Replaced by                       999
Website                          1000
Flash Pass Available             1037
Must transfer from wheelchair     981
Theme                            1043
Single rider line available      1006
Restraint Style                  1065
Flash Pass available             1041
Acceleration                     1027
Restraints                       1063
Name                             1052
year_introduced                     0
latitude                          275
longitude                         275
Type_Main                           0
opening_date_clean                250
speed1                            150
speed2                            152
speed1_value                      150
speed1_unit                       150
speed_mph                         150
height_value                      122
height_unit                       122
height_ft                         916
Inversions_clean                    0
Gforce_clean                      725
dtype: int64

In [28]:
#check duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1082    False
1083    False
1084    False
1085    False
1086    False
Length: 1087, dtype: bool

In [65]:
#checking if there are any duplicates on coaster name
df.loc[df.duplicated(subset = ['coaster_name','Location'])]

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
43,Crystal Beach Cyclone,"2,953 ft (900 m)",60 mph (97 km/h),Crystal Beach Park,Removed,1926,Wood,Traver Engineering,NaN,NaN,...,60 mph,97 km/h,60.0,mph,60.0,96.0,ft,NaN,0,4.0
60,Derby Racer,NaN,NaN,Revere Beach,Removed,1911,Wood – Racing,Fred W. Pearce,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
61,Blue Streak (Conneaut Lake),"2,900 ft (880 m)",50 mph (80 km/h),Conneaut Lake Park,Closed,"May 23, 1938",Wood,NaN,NaN,Out and Back roller coaster,...,50 mph,80 km/h,50.0,mph,50.0,77.0,ft,NaN,0,NaN
167,Big Thunder Mountain Railroad,NaN,35 mph (56 km/h),Other,NaN,NaN,Steel – Mine Train,Arrow Development (California and Florida)Dyna...,40 in (102 cm),Mine Train,...,35 mph,56 km/h,35.0,mph,35.0,104.0,ft,NaN,0,NaN
237,Thunder Run (Canada's Wonderland),"330 m (1,080 ft)",64 km/h (40 mph),Canada's Wonderland,Operating,"May 23, 1981 as Blauer Enzian, 1986 as Thunder...",Steel – Powered – Mine Train,Mack Rides,102 cm (3 ft 4 in),NaN,...,64 km/h,40 mph,64.0,km/h,39.8,10.0,m,32.8,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063,Lil' Devil Coaster,262.5 ft (80.0 m),NaN,Six Flags Great Adventure,Operating,1999 as Road Runner Railway; 2021 as Lil' Devi...,Steel – Kiddie,Zamperla,NaN,Family Gravity Coaster 80STD,...,NaN,NaN,NaN,NaN,NaN,13.0,ft,NaN,0,NaN
1064,Little Dipper (Conneaut Lake Park),NaN,NaN,Conneaut Lake Park,Operating,1950s,Steel,Allan Herschell Company,NaN,Little Dipper,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1080,Iron Gwazi,"4,075 ft (1,242 m)",76 mph (122 km/h),Busch Gardens Tampa Bay,Under construction,NaN,Steel – Wooden,Rocky Mountain Construction,48[1] in (122 cm),I-Box Track,...,76 mph,122 km/h,76.0,mph,76.0,206.0,ft,NaN,2,NaN
1082,American Dreier Looping,"3,444 ft (1,050 m)",53 mph (85 km/h),Other,NaN,NaN,Steel,Anton Schwarzkopf,55 in (140 cm),NaN,...,53 mph,85 km/h,53.0,mph,53.0,111.0,ft,NaN,3,4.7
1084,Tron Lightcycle Power Run,"3,169.3 ft (966.0 m)",59.3[1] mph (95.4 km/h),Other,NaN,"June 16, 2016",Steel – Launched,Vekoma,4[2] ft (122 cm),Motorbike roller coaster,...,59.3 mph,95.4 km/h,59.3,mph,59.3,78.1,ft,NaN,0,4.0

In [66]:
df.query('coaster_name == "Crystal Beach Cyclone"')

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
39,Crystal Beach Cyclone,"2,953 ft (900 m)",60 mph (97 km/h),Crystal Beach Park,Removed,1926,Wood,Traver Engineering,NaN,NaN,...,60 mph,97 km/h,60.0,mph,60.0,96.0,ft,NaN,0,4.0
43,Crystal Beach Cyclone,"2,953 ft (900 m)",60 mph (97 km/h),Crystal Beach Park,Removed,1926,Wood,Traver Engineering,NaN,NaN,...,60 mph,97 km/h,60.0,mph,60.0,96.0,ft,NaN,0,4.0

In [71]:
df = df.loc[df.duplicated(subset=['coaster_name','Location'])] \
    .reset_index(drop=True).copy()

In [116]:
df['year_introduced'].value_counts()

1987    2
1999    2
1992    2
2007    2
1997    1
1998    1
1995    1
2003    1
1994    1
2008    1
2011    1
2012    1
2016    1
2018    1
2019    1
2021    1
2022    1
Name: year_introduced, dtype: int64

In [ ]:
ax = df['year_introduced'].value_counts() \
    .head(10) \
    .plot(kind='bar', title='Top Years Coasters Introduced')
ax.set_xlabel('Year Introduced')
ax.ylabel('Count')

In [ ]:
ax = df['speed_mph'].plot(kind='hist', 
                          bins=20,
                          title='Coaster Speed (mph)')
ax.set_xlabel('Speed (mph)')

In [ ]:
ax = df['speed_mph'].plot(kind='kde', 
                          bins=20,
                          title='Coaster Speed (mph)')
ax.set_xlabel('Speed (mph)')

In [ ]:
df.plot(kind='scatter',
       x='Speed_mph',
       y='Height_ft',
        title= 'Coaster Speed vs. Height') 
plt.show()

In [ ]:
sns.scatterplot( x='Speed_mph',
       y='Height_ft',
       data=df)
plt.show()

In [ ]:
sns.pairplot(df, vars=['year_introduced', 'Speed_mph',
                        'Height_ft', 'Inversions', 'Gforce_clean'],
                        hue='Type_Main')
plt.show()

In [144]:
df[['year_introduced', 'speed_mph','height_ft', 'Inversions', 'Gforce_clean']]

    year_introduced  speed_mph  height_ft  Inversions  Gforce_clean
0              1987       35.0        NaN         0.0           NaN
1              1987       32.0        NaN         0.0           NaN
2              1992       35.0        NaN         0.0           NaN
3              1992       35.0        NaN         0.0           3.0
4              1994       50.0        NaN         5.0           4.0
5              1995       50.0        NaN         5.0           4.0
6              1997       50.0        NaN         5.0           4.0
7              1998       35.0        NaN         0.0           NaN
8              1999       50.0        NaN         5.0           4.0
9              1999       47.0        NaN         3.0           5.2
10             2003       50.0        NaN         5.0           4.0
11             2007        NaN        NaN         0.0           NaN
12             2007       53.0        NaN         3.0           4.7
13             2008       31.0        NaN         NaN           NaN
14             2011       35.0       51.8         0.0           NaN
15             2012       35.0       51.8         0.0           NaN
16             2016       28.5        NaN         0.0           NaN
17             2018        NaN       82.0         0.0           NaN
18             2019       28.0        NaN         0.0           NaN
19             2021       28.5        NaN         0.0           NaN
20             2022       53.0        NaN         3.0           4.7

In [135]:
df

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Big Thunder Mountain Railroad,NaN,35 mph (56 km/h),Other,NaN,NaN,Steel – Mine Train,Arrow Development (California and Florida)Dyna...,40 in (102 cm),Mine Train,...,35 mph,56 km/h,35.0,mph,35.0,104.0,ft,NaN,0,NaN
1,La Vibora,"1,490 ft (450 m)",32 mph (51 km/h),Other,NaN,NaN,Steel,Intamin,42 in (107 cm),Swiss Bob,...,32 mph,51 km/h,32.0,mph,32.0,60.0,ft,NaN,0,NaN
2,Big Thunder Mountain Railroad,NaN,35 mph (56 km/h),Other,NaN,NaN,Steel – Mine Train,Arrow Development (California and Florida)Dyna...,40 in (102 cm),Mine Train,...,35 mph,56 km/h,35.0,mph,35.0,104.0,ft,NaN,0,NaN
3,Flashback (Six Flags Magic Mountain),"1,900 ft (580 m)",35 mph (56 km/h),Other,NaN,NaN,Steel,Intamin,48 in (122 cm),Space Diver,...,35 mph,56 km/h,35.0,mph,35.0,86.0,ft,NaN,0,3.0
4,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,...,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
5,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,...,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
6,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,...,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
7,Alpine Bobsled,"1,490 ft (450 m)",35 mph (56 km/h),Other,NaN,NaN,Steel,Intamin,42 in (107 cm),Bobsled roller coaster,...,35 mph,56 km/h,35.0,mph,35.0,64.0,ft,NaN,0,NaN
8,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,...,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
9,Boomerang: Coast to Coaster,935 ft (285 m),47 mph (76 km/h),Other,NaN,NaN,Steel – Shuttle – Boomerang,Vekoma,48 in (122 cm),Boomerang,...,47 mph,76 km/h,47.0,mph,47.0,116.5,ft,NaN,3,5.2
10,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,...,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
11,Journey to Atlantis,NaN,NaN,SeaWorld Orlando,Operating,"April 17, 1998",Steel,Mack Rides,42 in (107 cm),Water Coaster,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
12,American Dreier Looping,"3,444 ft (1,050 m)",53 mph (85 km/h),Other,NaN,NaN,Steel,Anton Schwarzkopf,55 in (140 cm),NaN,...,53 mph,85 km/h,53.0,mph,53.0,111.0,ft,NaN,3,4.7
13,Pandemonium (roller coaster),"1,351 ft (412 m)",31 mph (50 km/h),Other,NaN,NaN,Steel – Spinning,Gerstlauer,42 in (107 cm),NaN,...,31 mph,50 km/h,31.0,mph,31.0,NaN,NaN,NaN,0,NaN
14,Lego Technic Test Track,"400 m (1,300 ft)",56.3 km/h (35.0 mph),Other,NaN,NaN,Steel – Wild Mouse,Mack Rides,NaN,Wild Mouse (large park),...,56.3 km/h,35.0 mph,56.3,km/h,35.0,15.8,m,51.8,0,NaN
15,Lego Technic Test Track,"400 m (1,300 ft)",56.3 km/h (35.0 mph),Other,NaN,NaN,Steel – Wild Mouse,Mack Rides,NaN,Wild Mouse (large park),...,56.3 km/h,35.0 mph,56.3,km/h,35.0,15.8,m,51.8,0,NaN
16,Flight of the Hippogriff,"1,099.1 ft (335.0 m)",28.5 mph (45.9 km/h),Other,NaN,NaN,Steel – Junior,"Vekoma (Orlando, Japan)Mack Rides (Hollywood, ...",36 in (91 cm),Junior Coaster (335m)[1] Youngstar Coaster (Ho...,...,28.5 mph,45.9 km/h,28.5,mph,28.5,42.7,ft,NaN,0,NaN
17,RC Racer,82 m (269 ft),NaN,Other,NaN,NaN,Steel – Shuttle – Launched,Intamin,120 cm (3 ft 11 in),Half Pipe Coaster,...,NaN,NaN,NaN,NaN,NaN,25.0,m,82.0,0,NaN
18,Super Grover's Box Car Derby,800 ft (240 m),28 mph (45 km/h),Other,NaN,NaN,Steel,Zierer,NaN,NaN,...,28 mph,45 km/h,28.0,mph,28.0,NaN,NaN,NaN,0,NaN
19,Flight of the Hippogriff,"1,099.1 ft (335.0 m)",28.5 mph (45.9 km/h),Other,NaN,NaN,Steel – Junior,"Vekoma (Orlando, Japan)Mack Rides (Hollywood, ...",36 in (91 cm),Junior Coaster (335m)[1] Youngstar Coaster (Ho...,...,28.5 mph,45.9 km/h,28.5,mph,28.5,42.7,ft,NaN,0,NaN
20,American Dreier Looping,"3,444 ft (1,050 m)",53 mph (85 km/h),Other,NaN,NaN,Steel,Anton Schwarzkopf,55 in (140 cm),NaN,...,53 mph,85 km/h,53.0,mph,53.0,111.0,ft,NaN,3,4.7

In [146]:
df_corr =df[['year_introduced', 'speed_mph','height_ft', 'Inversions', 'Gforce_clean']].dropna().corr()
df_corr

,year_introduced,speed_mph,height_ft,Inversions,Gforce_clean
year_introduced,1.000000,-0.175414,0.991241,-0.217163,0.559854
speed_mph,-0.175414,1.000000,NaN,0.908557,0.651894
height_ft,0.991241,NaN,1.000000,NaN,NaN
Inversions,-0.217163,0.908557,NaN,1.000000,0.204273
Gforce_clean,0.559854,0.651894,NaN,0.204273,1.000000

In [ ]:
sns.heatmap(df_corr, annot=True)

In [ ]:
# What are the locations with the fastest roller coasters
df.query('Location != "other"') \
    .groupby ('Location')['speed_mph'] \
    .agg(['mean', 'count']) \
    .query('count >= 10') \
    .sort_values('mean') \
    .plot(kind='barh', figsize=(12, 5), title= 'Average Coast Speed by Location')
ax.set_xlabel('Average Coaster Speed')
plt.show()